/**
 * @file
 * Stylesheet for the Ethereum_user module.
 */

#hellothereum-user-form {
  display: none;
}

/* TODO: Specific to our theme? Then move it there. */
#hellothereum-user-form .form-control {
  width: unset;
}
#hellothereum-user-form .form-control:not(textarea) {
  width: unset;
  max-width: unset;
}
